
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import './base.css';

:root {
  --color-primary: #2280cc;
  --color-primary-dark: #106cb8;
  --color-secondary: #2d3e56;
  --color-accent: #f1a238;
  --color-accent-dark: #ec9016;
  --color-success: #7bc047;
  --color-error: #d32f2f;
  --color-error-bg: #ffcdd2;
  --color-primary-border: #e3e8f0;
  --color-primary-light: #e3f1fc;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

h1 {
  font-family: 'Monoton', cursive;
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

