
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import './base.css';

:root {
  --color-primary: #2280cc;
  --color-secondary: #2d3e56;
  --color-accent: #fb6a2b;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

h1 {
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
  color: var(--color-secondary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

